@charset "UTF-8";
.main {
  margin-top: 100px;
  /* Add a top margin to avoid content overlay */ }

input[type="color"],
input[type="select"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  font-size: 1rem; }

input:read-only {
  background-color: yellow; }

input[id=hinweis] {
  background-color: whitesmoke; }

.input-group-text {
  min-width: 12ch; }

/*.spinner-border {
  margin-top: 150px;
  margin-left: 45%;
}

.spinner-label {
  position: auto;
  background-color: rgba(184,218,255,0.55);
  box-shadow: 0 0 5px #5a6268;
}*/
.myspinnercard {
  padding-bottom: 15px;
  margin-bottom: 0px;
  border-radius: 8px;
  border-color: rgba(184, 218, 255, 0.95);
  border-width: 2px;
  box-shadow: 0 0 3px #5a6268;
  z-index: 5; }

.myspinnercard_body {
  padding-bottom: 0px; }

.myspinnercard_header {
  padding: 3px;
  background-color: rgba(184, 218, 255, 0.55); }

.lbl-pad-right {
  padding-right: 5px; }

#tbwiederholungen {
  padding-left: 20px; }

.mobil_se {
  /* je nach Auflösung die HTML-Zeile aktiv setzen */
  visibility: hidden; }

.dp-label {
  /* datepicker label */
  width: 80px;
  margin-right: 50px; }

.dp-label2 {
  /* datepicker label */
  margin-right: 100px; }

#mydatumbeginn, #mydatumende {
  width: 100px; }

.dp-picker {
  width: 60px; }

.no-space {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px; }

#idGruppe {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px; }

.chkganztaegig {
  padding-left: 20px;
  margin-top: 9px; }

#section-wiederholungen {
  margin-top: 5px;
  margin-bottom: 10px;
  border-top: 1px solid rgba(70, 89, 240, 0.99);
  border-bottom: 1px solid rgba(70, 89, 240, 0.99); }
  #section-wiederholungen table {
    width: 90%;
    table-layout: fixed;
    color: rgba(70, 89, 240, 0.99);
    border-collapse: collapse;
    border-color: rgba(70, 89, 240, 0.99);
    margin-left: 20px; }
    #section-wiederholungen table thead {
      border-bottom: hidden; }
    #section-wiederholungen table td, #section-wiederholungen table th {
      text-align: center; }

/*.mytoptoolbar {
  display: block;
  border-width: 5px;
  background-color: rgba(70, 89, 240, 0.74);
  margin-bottom: 10px;
  margin-top: 10px;
}

.mybottomtoolbar {
  display: none;
}*/
.mypanel_body {
  background-color: #3387fd;
  box-shadow: 0 -3px 4px 0px #3387fd, 0 0.45rem 2rem rgba(51, 135, 253, 0.5);
  position: fixed;
  /* Set the navbar to fixed position */
  left: 0px;
  top: 57px;
  /* Position the navbar at the top of the page */
  height: 36px;
  padding-bottom: 9px;
  width: 100%;
  /* Full width */
  z-index: 6; }

.mybtn {
  position: fixed;
  color: whitesmoke;
  top: 58px;
  z-index: 1;
  width: 25%;
  padding: 5px;
  margin: 0px;
  background-color: rgba(184, 218, 255, 0.55);
  box-shadow: 0 0 5px #5a6268; }

.mybtnSave {
  left: 0px;
  border-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; }

.mybtnBack {
  right: 0px;
  border-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; }

.mybtnDebugInfo {
  position: fixed;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
  border-radius: 15px; }

/* Auflösung > 576px */
@media (min-width: 576px) {
  .mobil_se {
    /* je nach Auflösung die HTML-Zeile aktiv setzen */
    visibility: visible; }

  .dp-picker {
    width: 10ch;
    float: left;
    margin-right: 60px; }

  .dp-label {
    /* datepicker label */
    width: 90px;
    margin-right: 0px; }

  .dp-label2 {
    /* datepicker label */ }

  .mytoptoolbar {
    display: none; }

  .mybottomtoolbar {
    display: block; }

  .table thead tr th {
    border-bottom: 2px solid #8ec4e5;
    border-top: 5px solid #8ec4e5; }

  .datepicker-width {
    width: 105px;
    padding: 0px; }

  .chkganztaegig {
    padding-left: 20px;
    margin-top: 10px; }

  .tabwiederholungen {
    color: #5bc0de;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-bottom: 5px;
    padding-left: 12px; }

  .td_size {
    width: 35px;
    height: 20px;
    text-align: center; }

  .selAnzWHLabel {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-top: 27px;
    padding-left: 15px; }

  /*.selAnzWH {
    width: 120px;
    padding-left: 15px;
  }
*/
  .mytextbox {
    margin-left: 30px;
    width: 110px; } }

/*# sourceMappingURL=termin-edit.component.css.map */
