/*@media (max-width: 767px) {
  !* On small screens, the nav menu spans the full width of the screen. Leave a space for it. *!
  .body-content {
    padding-top: 50px;
  }
}*/

/*@media (max-width: 500px) {
  //! *On small screens, the nav menu spans the full width of the screen . Leave a space for it . *!
  .body-content {
    padding-top: 150px;
  }
  label,
  select,
  textarea,
  input {
    font-size: 26px;
  }
}*/


/*
.bgcolor{
  background-color: yellow;
}
*/

.maincontainer_dataloading {
  padding-right: 0px;
  padding-left: 0px;
  height: 800px;
  background-color: rgba(142,196,229,0.2);
}

.maincontainer {
  padding-right: 0px;
  padding-left: 0px;
  //
  height: 800px;
  //background-color: yellow;
}

@media (min-width: 576px) {
  .container-fluid {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.top_dataloading {
  margin-top:   0px;
  //  background-color: rgba(142,196,229,0.4);
}

.myspinnercard {
  margin-top: 80px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 8px;
  border-color: rgba(184,218,255,0.95);
  border-width: 4px;
  box-shadow: 0 0 3px #5a6268;
  z-index: 5;
}

.myspinnercard_body {
  padding-bottom: 0px;

}

.myspinnercard_header {
  padding: 3px;
  background-color: rgba(184,218,255,0.55);
}


