<div class="teilnehmer-edit container-fluid">
  <h3>{{title}}</h3>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-group row">
      <label for="vorname" class="col-sm-2 col-form-label">Vorname:</label>
      <div class="col-sm-2">
        <input class="form-control" formControlName="Vorname" id="vorname"
               placeholder="Vorname eingeben..." required
               type="text"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="nachname" class="col-sm-2 col-form-label">Nachname:</label>
      <div class="col-sm-2">
        <input class="form-control" formControlName="Nachname" id="nachname"
               placeholder="Nachname eingeben..." required
               type="text"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="rufname" class="col-sm-2 col-form-label">Rufname:</label>
      <div class="col-sm-2">
        <input class="form-control" formControlName="Rufname" id="rufname"
               placeholder="Rufname eingeben..."
               type="text"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Emailadresse:</label>
      <div class="col-sm-2">
        <input class="form-control" formControlName="Email" id="email"
               placeholder="Emailadresse eingeben..." required
               type="text"
        />
      </div>
    </div>

    <div>
      <teilnehmer-einladung *ngIf="!gruppeAngenommen" [myTeilnehmer]= "myTeilnehmer" [idGruppe]="myTeilnehmer.IdGruppe"></teilnehmer-einladung>
    </div>

    <div class="form-group commands">
      <button [disabled]="form.invalid"
              class="btn btn-sm btn-success"
              type="submit">
        <i class="fas fa-save"></i>
        Speichern
      </button>

      <button (click)="onBack()"
              class="btn btn-sm btn-secondary"
              type="submit">
        <i class="fas fa-arrow-alt-circle-left"></i>
        Zurück
      </button>
    </div>
  </form>
</div>
