.card {
  padding-top: 10px;
  background-color: #34ce57;
  color: whitesmoke;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;

  .card-body {
    background-color: whitesmoke;
    padding-bottom: 0px;
  }

}
