<div class="container-fluid main">
  <div class="panel panel-default">
    <div class="panel-body mypanel_body">
      <!--<button class="btn btn-sm mybtn mybtnNeuertermin"
              (click)="onCreateTermin()">
        <i class="fa fa-plus-circle"></i>
        Termin
      </button>-->
      <h3 class="titelmonat">{{ viewDate | calendarDate:(view + 'ViewTitle'):locale  }}</h3>
      <button class="btn btn-sm mybtn mybtnKalender"
              (click)="onBack()">
        <i class="fa fa-calendar-alt"></i>
        Zurück
      </button>
    </div>

  </div>


  <div class="row text-center">
  <div class="col-md-12">
    <div class="btn-group">
      <div
        class="btn btn-sm btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Zurück
      </div>
      <div
        class="btn btn-sm btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        Heute
      </div>
      <div
        class="btn btn-sm btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Vor
      </div>
      <div
        class="btn btn-sm btn-primary"
        (click)="view = CalendarView.Month"
        [class.active]="view === CalendarView.Month">
        Monat
      </div>
      <div
        class="btn btn-sm btn-primary"
        (click)="view = CalendarView.Week"
        [class.active]="view === CalendarView.Week">
        Woche
      </div>
      <div
        class="btn btn-sm btn-primary"
        (click)="view = CalendarView.Day"
        [class.active]="view === CalendarView.Day">
        Tag
      </div>
    </div>
  </div>

  <!--<div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-sm btn-primary"
        (click)="view = CalendarView.Month"
        [class.active]="view === CalendarView.Month">
        Monat
      </div>
      <div
        class="btn btn-sm btn-primary"
        (click)="view = CalendarView.Week"
        [class.active]="view === CalendarView.Week">
        Woche
      </div>
      <div
        class="btn btn-sm btn-primary"
        (click)="view = CalendarView.Day"
        [class.active]="view === CalendarView.Day">
        Tag
      </div>
    </div>
  </div>-->
</div>
<div [ngSwitch]="view">
  <!--<mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    (beforeViewRender)="beforeMonthViewRender($event)">
  </mwl-calendar-month-view>-->
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    (beforeViewRender)="beforeMonthViewRender($event)"
    [locale]="locale"
    [weekStartsOn]="weekStartsOn"
    [weekendDays]="weekendDays"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [locale]="locale"
    [weekStartsOn]="weekStartsOn"
    [weekendDays]="weekendDays"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [locale]="locale"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>
</div>





