<div class="card">
  <h4>Einladung in die Gruppe</h4>
  <div class="card-body">
    <h5 class="card-title">Hiermit wird die Teilnahme für {{strNameTeilnehmer}} in der Gruppe {{idGruppe}} bestätigt.</h5>
    <div class="form-group commands">
      <button class="btn btn-sm btn-outline-light btn-block btn-teilnahme_bestaetigt"
              (click)="onGeneriereEinladung()"
              type="submit">
        <i class="fas fa-user-friends "></i>
        Start Planer
      </button>
    </div>
  </div>
</div>

