<div class="gruppe-edit container-fluid" xmlns="http://www.w3.org/1999/html">

  <h3>{{title}}</h3>
  <h3>{{code}}</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="code" class="col-sm-3 col-form-label">Kurzbezeichnung:</label>
      <div class="col-sm-3">
        <input type="text" id="code"
               formControlName="Code" required
               placeholder="Kurzbezeichnung eingeben..."
               class="form-control"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="bezeichnung" class="col-sm-3 col-form-label">Bezeichnung:</label>
      <div class="col-sm-8">
        <input type="text" id="bezeichnung"
               formControlName="Bezeichnung" required
               placeholder="Bezeichnung eingeben..."
               class="form-control"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="beschreibung" class="col-sm-3 col-form-label">Gruppenbeschreibung:</label>
      <div class="col-sm-8">
        <textarea id="beschreibung"
                  formControlName="Beschreibung"
                  placeholder="Beschreibung eingeben..."
                  class="form-control"></textarea>
      </div>
    </div>
    <!--<div class="input-group row">
      <label for="aktiv" class="col-sm-3 col-form-label">Aktiv:</label>
      <div class="input-group-prepend col-sm-8">
        <div class="input-group-text">
          <input id="aktiv" type="checkbox" formControlName="Aktiv">
        </div>
      </div>
    </div>-->

    <div class="container-fluid">
      <div class="row">
        <button type="submit"
                (click)="onShowPlaner()"
                class="btn btn-sm btn-primary">
          <i class="fas fa-calendar-alt"></i>
          Zeige Planer
        </button>
        <button type="submit"
                (click)="onBack()"
                class="btn btn-sm btn-secondary">
          <i class="fas fa-arrow-alt-circle-left"></i>
          Zurück
        </button>

        <!--<button *ngIf="editMode && (globals.logged_in_User.id == gruppe.IdUser)"-->
        <button *ngIf="editMode"
                type="submit"
                [disabled]="form.invalid"
                class="btn btn-sm btn-success ml-auto">
          <i class="fas fa-save"></i>
          Speichern
        </button>
        <!--<button *ngIf="!editMode  && (globals.logged_in_User.id == gruppe.IdUser)" -->
        <button *ngIf="!editMode"
                type="submit"
                [disabled]="form.invalid"
                class="btn btn-sm btn-success ml-auto">
          <i class="fas fa-plus-circle"></i>
          Speichern
        </button>

      </div>
    </div>


  </form>

  <br><br>

  <div>
    <termin-liste *ngIf="editMode" [myGruppe]="gruppe"></termin-liste>
  </div>
  <br><br>
  <div>
    <teilnehmer-liste *ngIf="editMode" [myGruppe]="gruppe"></teilnehmer-liste>
  </div>
  <br><br>
  <div>
    <code_aktivitaeten-liste *ngIf="editMode" [myGruppe]="gruppe"></code_aktivitaeten-liste>
  </div>
</div>
